.banner {
    background-image:
    linear-gradient(to top right, rgba(228,221,221, 0.40) 10%, rgba(0,0,0, 0.50 ) 60%),
    url(../../assets/home.jpeg);
    width: auto;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }